
<div class="text-center col-12 col-lg-3 outer-card ">
<h5 class="card-header "><%= link_to project.name.truncate(20) , project_path(project) , class: "text-white" %></h5>
  <div class="card-body"  id='delete-<%= project.id %>'>

    <p class="card-text "><%= project.description.truncate(100)%></p>
    <%if policy(:project).qa? || policy(:project).manager?%>
    <%if policy(:project).manager?%>
      <%= link_to '', edit_project_path(project), class:'fa fa-edit btn btn-info btn-sm m-1 '%>
      <%= link_to '', project_path(project), class:'fa fa-trash btn btn-danger btn-sm m-1',method: :delete, data: { confirm: 'Are you sure?' }%>

      <%end%>
      <%= link_to '', project_path(project), class:'fa fa-bug btn btn-warning btn-sm m-1' %>

    <%end%>
  </div>
  <div class="card-footer text-white">Created on: <%= project.created_at.time.to_date %> </div>


</div>
