<div class='container'>
  <%= link_to 'Back', user_session_path, class:'btn btn-info'%>
  <h1><%= @project.name %></h1>

  <div class="shadow p-2 mb-5 ">
      <p>
        <strong>Name:</strong>
        <strong><%= @project.name %></strong>
      </p>
        <p>
        <strong>Description:</strong>
        <%= @project.description %>
      </p>

  </div>

  <%= render 'bugs_show' %>

  <%if current_user.manager? || current_user.qa?%>
    <%= render 'bugs_create' %>
  <%end %>

</div>

