<div class='container divs p-2'>
  <h1 class='mt-2'> <%= link_to 'Back', projects_path, class:'btn btn-info'%> <%= @project.name %></h1>

  <div class="p-2 ">
      <p>
        <strong>Name:</strong>
        <strong><%= @project.name %></strong>
      </p>
        <p>
        <strong>Description:</strong>
        <%= @project.description %>
      </p>

  </div>
  <h3 class='ml-5'>Bugs / Features</h3>
  <%= render 'bugs_show' %>

  <%if current_user.manager? || current_user.qa?%>
    <%= render 'bugs_create' %>
  <%end %>

</div>

